{{!
CITATION
Source: CS340 NodeJS starter app (github.com/osu-cs340-ecampus/nodejs-starter-app)
Author: George Kochera
Retrieved: 2/27/2023
This application was adapted from the boilerplate code provided in the CS340 starter app.
}}

<h2>View All Blood Types</h2>
<table id="blood-types-table" class="category-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.BloodTypeID}}</td>
        </tr>
        {{/each}}
    </tbody>

</table> 

{{!-- Form to add a new BloodType --}}
<div id="add-blood-type-section">
<h2>Add a New Blood Type</h2>
<p>If you happen to find a new blood type in Area X, please add it to the form information below!</p>
<form id="add-blood-type-form-ajax">
    <label for="input-blood-type-id">BloodType: </label>
    <input type="text" name="input-blood-type-id" id="input-blood-type-id">

    <input type="submit">
</form>
</div>
<script src="./js/add-blood-type.js"></script>
